<form [formGroup]="pollForm" novalidate (ngSubmit)="onSubmit()" *ngIf="!created; else createdTemplate">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Create a Poll</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Enter a prompt or question...</mat-label>
            <input matInput formControlName="prompt">
            <mat-hint>This will be the prompt that appears at the top of the poll.</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngFor="let i of options">
        <div class="col">
          <mat-form-field class="response" appearance="standard">
            <input matInput placeholder="Enter a response..." formControlName="{{ 'option' + i }}">
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="this.options.length < 5">
        <div class="col">
          <button mat-button type="button" (click)="createNewOption()">
            + Add Response / Option
          </button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="!pollForm.valid" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
<ng-template #createdTemplate>
  <div class="row">
    <div class="col">
      <h3>Your poll has been created. You can access your poll using the ID: {{ createdPollId }}</h3>
    </div>
  </div>
</ng-template>
